<?xml version="1.0" encoding="utf-8"?>
<dataConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.2.7500.0">
	<connectionStrings>
		<add connectionString="data source=PMICHLAUSPX125,49400;Integrated Security=SSPI;initial catalog=Sitefinity_DB" name="Sitefinity" />
	</connectionStrings>
</dataConfig>