<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.2.7500.0" authCookieName=".SFAUTH-Default" rolesCookieName=".SFROLES-Default" validationKey="FA15E5841DF88297B479A59DEA9C4DE064122EC142D6AF3F0663DB1E4CE32C6D684A5F4C32301751C443E3EC93A550843DF8E2EB5913EE5EC58857B487C53E07" decryptionKey="20E3A3186C5D0D9FF3AC4420F8F3F5C64029C98CF46084E45FF5E396E1F51A43" loggingCookieName=".SFLOG-Default">
	<securityTokenIssuers>
		<add key="D01728DF9CBF3F1B9AC82B680615ECF20D10552E0CD79B59408BDB18D3553CC9" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="D01728DF9CBF3F1B9AC82B680615ECF20D10552E0CD79B59408BDB18D3553CC9" realm="http://localhost" />
	</relyingParties>
</securityConfig>