body {
    overflow: hidden; 
}

#wrapper {
    overflow: auto;
    background: #fffaee;
    text-align: center;
    padding-top: 25px;
}

#ProfileStyle {
    width: 200px;
    border-radius: 50%;
}

p {
    margin: 0px;
}

#Container1 {
    float: left;
    background: #ffffff;
    width: 45%;
    border-radius: 25px;
    margin: 10px 20px 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#Container2 {
    margin: 30px;
}

#Container3 {
    width: 49%;
    border-radius: 25px;
    background: #ffffff;
    float: left;
    margin: 10px;
    padding: 20px;
    padding-bottom: 20px;
    text-align: left;
}

#Container4 {
    text-align: left;
    float: left;
    width: 25%;
}

#Container5 {
    text-align: left;
}

#footer {
    background: #e5b5b8;
    float: right;
    color: #ffffff;
    overflow: auto;
    height: 100px;
    width: 100%;
    margin-top: 20px;
}

